/*部门管理*/
.backUser-manage .roles header {
    margin-bottom: 10px;
}

.personInCharge .personInChargeItem Button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-style: dotted;
    border-radius: 100%;
}