/* 明星管理css */
.star header {
    position: relative;
}

.star-search {
    display: block;
    width: 300px;
    float: left;
    margin-right: 20px;
}

.star-select {
    width: 150px;
    float: left;
    margin-right: 20px;
}

.star-add-button {
    display: block;
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
}

.course-form.star-manage-form .ant-form-item.phone .ant-form-explain {
    width: 190px;
}
.course-form.star-manage-form .ant-form-item.personalProfile .ant-form-explain {
    top: 108%;
}

.course-form.star-manage-form .ant-form-item.avatar .ant-form-explain {
    top: 108%;
}

.star-manage-form .ant-col.ant-col-8 {
    position: relative;
}

.star-manage-form .ant-col.ant-col-8 .tip-help {
    width: 90px;
    position: absolute ;
    top: 8px;
    right: 0;
    font-size: 12px;
    color: #ACACAC;
}