@import '~antd/dist/antd.css';
@import './static/css/common.css';
@import './static/css/AppHome/StarManage.css';
@import './static/css/AppHome/SignList.css';
@import './static/css/AppHome/NoticeManage.css';
@import './static/css/AppHome/CoffeeCircle.css';
@import './static/css/BackUserManage/BackUser.css';
@import './static/css/BackUserManage/Department.css';
@import './static/css/BackUserManage/Roles.css';
@import './static/css/CheckManage/QualityCourseCheck.css';


ul, li, ol, dl, dt, dd {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.home {
    padding-top: 64px;
}

.home .header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.home .header .right-box {
    position: absolute;
    top: 0;
    right: 50px;
}

.home .header .right-box span.username {
    margin-right: 10px;
    color: #fff;
}

/*表格*/
.ant-table-wrapper thead th {
    padding: 10px 16px;
    text-align: center;
}

.ant-table-wrapper tbody tr {
    height: 20px !important;
    text-align: center;
    overflow: hidden;
}

.ant-table-wrapper tbody tr td {
    height: 35px;
    padding: 2px 10px;
    overflow: hidden;
}

.ant-table-wrapper tbody tr td div {
    max-height: 30px;
    line-height: 14px;
}

.institutions.finace-order .ant-table-wrapper tbody tr td div {
    max-height: none !important;
}

.ant-table-wrapper tbody tr td .editable-row-operations a {
    margin: 0 10px;
}

.ant-table-wrapper tbody tr td .editable-row-operations a:hover {
    text-decoration: underline;
}

.ant-table.ant-table-bordered .ant-table-footer {
    text-align: right;
    font-size: 20px;    
}

th.categoryName,
th.courseName,
th.orgName,
th.companyName,
th.address{
    text-align: left !important;
}
td.categoryName,
td.courseName,
td.orgName,
td.companyName,
td.address,
td.operating {
    text-align: left !important;
}

/*弹出层及表单*/
.ant-modal-body {
    max-height: 60vh;
    padding: 10px 24px;
    overflow-y: auto;
}

.add-form-title-h4 {
    margin: 20px 0px;
    font-weight: bold;
}

.ant-form-item {
    margin: 0;
}

.ant-form-item-label {
    padding: 0 !important;
    line-height: 32px !important;
    text-align: left;
}

.ant-form-item-children {
    position: static;
}

.ant-form-explain {
    width: 140px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    top: 50%;
    left: 108%;
    margin-top: -7px !important;
}

.ant-line {
    height: 20px;
}

/* tabs css */
.card-container > .ant-tabs-card > .ant-tabs-content {
    min-height: 120px;
    margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
    font-size: 20px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
}

.snapshot .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    color: #FF9900;
    border-top: 1px solid #FFCC33;
}

/*表单页面公用样式*/
.item-form .photo .itemBox .ant-col-4 {
    line-height: 36px;
}

.item-form .icon .itemBox .ant-col-4 {
    line-height: 36px;
}

/*详情页面公用样式*/
.item-details pre {
    margin: 0;
    font-family: inherit;
    white-space: pre-wrap;
}

/*spinBox样式*/
.spin-box {
    text-align: center;
    border-radius: 4px;
    padding: 30px 50px;
    margin: 20px 0;
}

/*login--------------------------------------------------------------------------------------------------------*/
.login {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.login img.logo {
    display: block;
    margin: 0 auto;
}

.login form {
    width: 300px;
    margin: 50px auto 0;
}

.login form .ant-form-item.code .code-input {
    position: relative;
}

.login form .ant-form-item.code .code-box {
    width: 60px;
    height: 38px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.login form .ant-form-item.code img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.login form .ant-form-item.code .icon-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form .others {
    position: relative;
}

.login .ant-form-item-control-wrapper {
    margin: 0;
    padding: 0 10px;
}

.login form .others .login-form-forgot {
    color: #00a0e9;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.login .login-form-button {
    width: 100%;
}

.resetPassword .ant-form-item.unnecessary label {
    padding-left: 11px;
}

.resetPassword .ant-form-item.longItem .ant-form-explain {
    left: 102%;
}

.resetPassword .ant-form-item.noInput {
    padding: 4px 0;
}

/*home---------------------------------------------------------------------------------------------------------*/
.home .header .logo {
    margin-right: 50px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 20px;
}

.home .header .logo img {
    display: block;
    float: left;
    width: 64px;
    height: 100%;
}

.home .header .logo .pic-right {
    float: left;
    padding-top: 10px;
}

.home .header .logo .pic-right p {
    margin: 0;
    color: rgba(255, 255, 255, 0.65);
    line-height: 14px;
}

.home .header .logo .pic-right p:nth-child(1) {
    font-size: 18px;
    line-height: 18px;
}

.home .header .logo .pic-right p:nth-child(2) {
    line-height: 14px;
    margin-top: 5px;
}

.home .footer .version-infor {
    text-align: center;
}

/*app首页(app-home)-----------------------------------------------------------------------------------------------*/
/*banner管理*/
.app-home .banner header {
    margin-bottom: 10px;
}

.banner-form .ant-form-item.photo .itemBox {
    position: relative;
}

.banner-form .ant-form-item.photo .ant-upload {
    width: 266px;
    height: 136px;
}

.banner-form .ant-form-item.unnecessary label {
    margin-left: 11px;
}

.banner-form .ant-form-item.longItem .ant-form-explain {
    left: 102%;
}

/*推荐机构*/
.institutions .ant-layout-sider {
    background: #FFF;
    font-size: 16px;
}

.institutions .ant-layout-content {
    background: #FFF;
}

.institutions .ant-layout-sider .chooseDivision {
    background: #FAFAFA;
    height: 63px;
    line-height: 63px;
    font-size: 16px;
    text-align: center;
}
.app-home .recommendInstitutions header {
    margin-bottom: 10px;
}

/*推荐课程*/
.app-home .recommendCourse header {
    margin-bottom: 10px;
}

.recommendCourse-form .ant-form-item.unnecessary label {
    padding-left: 11px;
}

.recommendCourse-form .ant-form-item.longItem .ant-form-explain {
    left: 102%;
}

/*机构管理----------------------------------------------------------------------------------------------------------*/

/*机构类型管理*/
.institution-manage .category {
    height: calc(100vh - 140px);
}

.institution-manage .category header {
    margin-bottom: 10px;
}

.institution-manage .category div.table-box {
    height: calc(100% - 42px);
    overflow-y: scroll;
}

.category-form .ant-form-item.photo img {
    display: block;
    width: 86px;
    height: 86px;
}

.category-form .ant-form-item.unnecessary label {
    margin-left: 11px;
}

.category-form .ant-form-item.longItem .ant-form-explain {
    left: 102%;
}

/*所有机构*/
.institution-manage .institutions header {
    margin-bottom: 10px;
}

.institutions header {
    margin-bottom: 10px;
}

.institution-form .feesHint {
    margin: 0 0 5px 120px;
    color: #999
}

.institution-form .ant-form-item.photo .itemBox {
    position: relative;
}

.institution-form .ant-form-item.photo .ant-upload {
    position: relative;
    width: 196px;
    height: 116px;
}

.institution-form .ant-form-item.photo .photoExist-item {
    margin-bottom: 10px;
}

.institution-form .ant-form-item.photo .photoExist-item img {
    float: left;
    width: 180px;
    height: 100px;
}

.institution-form .ant-form-item.photo .photoExist-item .remove {
    float: left;
    margin-left: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.institution-form .ant-form-item.photo .itemBox .hint {
    width: 140px;
    margin: 10px 0 0;
    padding: 0;
    color: #999;
    position: absolute;
    top: 40px;
    left: 100%;
}

.institution-form .ant-form-explain {
    width: 100%;
    top: 150%;
    left: 0;
}

.institution-form .ant-form-item.icon .ant-form-explain {
    top: 110%;
    left: 0;
}

.institution-form .ant-form-item.detailedAddress .ant-form-explain {
    top: 135% !important;
}

.institution-form .ant-form-item.listenBookSummary .ant-form-explain {
    top: 108%;
}

.institution-form .ant-form-item.photo .ant-form-explain {
    width: 120px;
}


.institution-form .ant-form-item.icon .itemBox {
    position: relative;
}

.institution-form .ant-form-item.icon .ant-upload {
    width: 96px;
    height: 96px;
}

.institution-form.company-form .ant-form-item.icon .ant-upload {
    width: 96px;
    height: 38px;
}

.institution-form.company-form.agent-form .ant-form-item.icon .ant-upload {
    width: 120px;
    height: 100px;
}


.institution-form .ant-form-item.area .ant-form-item-label label:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
}

.institution-form p.addressSaved {
    padding: 0 0 5px 0;
    margin: 0;
    color: #999;
}

.institution-form #add-institution-container {
    width: 100%;
    height: 320px;
    margin-left: 0;
    margin-bottom: 10px;
}

.institution-form .ant-form-item.unnecessary label {
    margin-left: 11px;
}

.institution-form .ant-form-item.longItem .ant-form-explain {
    top: 110%;
    left: 0%;
}

.institution-form .ant-form-item.photo .ant-form-explain {
    top: 106%;
}

.institution-form .ant-form-item.area .ant-form-explain {
    top: 150%;
}

.institution-form .ant-form-item .ant-form-item-label {
    width: 100px;
}
/*课程管理*/
.institution-manage .courses header {
    margin-bottom: 10px;
}

.coursesBack {
    position: absolute;
    top: -50%;
    right: 0;
}

.course-form .ant-form-item.courseType .ant-form-item-control-wrapper .ant-form-item-control {
    line-height: 32px;
}

.course-form .ant-form-item.studentType .ant-form-item-label:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
}

.course-form .ant-form-item.photo .ant-upload {
    position: relative;
    width: 196px;
    height: 116px;
}

.course-form .ant-form-item.photo .itemBox canvas {
    border: 1px solid #ccc;
    background-color: #fff;
}

.course-form .ant-form-item.photo .photoExist-item {
    margin-bottom: 10px;
}

.course-form .ant-form-item.photo .photoExist-item img {
    float: left;
    width: 180px;
    height: 100px;
}

.course-form .ant-form-item.photo .photoExist-item .remove {
    float: left;
    margin-left: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-form .ant-form-item.photo .itemBox .hint {
    width: 140px;
    margin: 10px 0 0;
    padding: 0;
    color: #999;
    position: absolute;
    top: 40px;
    left: 100%;
}

.course-form .ant-form-item.subItem .ant-form-item-control-wrapper {
    margin-left: 98px;
    margin-left: 0;
}

.course-form .ant-form-item.subItem1 .ant-form-item-control-wrapper {
    margin-left: 0;
}

.course-form .ant-form-item.subItemsAddButton .ant-form-item-control-wrapper .course-subItem-box {
    margin: 4px 0;
}

.course-form .ant-form-item.subItemsAddButtonChanged .ant-form-item-control-wrapper {
    margin-left: 0;
}

.course-form p.lessonHint {
    padding: 0 0 5px 20px;
    margin: 0;
    color: #999;
}

.course-form .ant-form-item.characteristic .ant-form-item-control-wrapper {
    margin-left: 0;
}

.course-form .ant-form-item.characteristic1 .ant-form-item-control-wrapper {
    margin-left: 0;
}

.course-form .ant-form-item.characteristicAddButtonChanged .ant-form-item-control-wrapper {
    margin-left: 0;
}

.course-form .ant-form-item.address .ant-form-item-control-wrapper {
    margin-left: 100px;
}

.course-form #add-course-container {
    width: 420px;
    height: 300px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.course-form .ant-form-item.eIds .ant-form-item-label {
    width: 200px
}

.course-form .ant-form-item.eIds .ant-form-item-control-wrapper {
    margin-left: 100px;
    float: none
}

.course-form .ant-form-item.eIds .ant-form-item-control-wrapper .ant-checkbox-wrapper {
    margin-left: 0;
}

.course-form .ant-form-item.unnecessary label {
    margin-left: 11px;
}

.course-form .longItem .ant-form-explain {
    top: 110%;
}

.course-form .ant-form-item .ant-form-explain {
    top: 150%;
    left: 0;
}

.course-form .ant-form-item.photo .ant-form-explain {
    top: 93%;
    left: 110%;
}

.course-form .ant-form-item.characteristic .ant-form-explain {
    left: 20% !important;
}

.course-form .ant-form-item.itemNone {
    display: none
}
/*信息审核----------------------------------------------------------------------------------------------------*/

/*机构审核*/
.check-manage .institution-check {
    position: relative;
}

.check-manage .institution-check header {
    position: relative;
}

.check-manage .institution-check header .add-button {
    position: absolute;
    top: 0;
    right: 0;
}

.check-manage .institution-check .keyWord {
    margin-bottom: 10px;
}

.check-manage .institution-check p.hint {
    position: absolute;
    bottom: 0;
    left: 0;
}

.institutionCheck-form .ant-form-item.state .ant-form-item-control-wrapper .ant-form-item-control {
    line-height: 32px;
}

.institutionCheck-form .ant-form-item.unnecessary label {
    margin-left: 11px;
}

.institutionCheck-form .ant-form-item.longItem .ant-form-explain {
    left: 102%;
}

.institutionCheck-form.famous-teacher-check-form .ant-form-item .ant-form-explain {
    left: 0;
    bottom: 0;
}